.canva-box {
  background-image: linear-gradient(to bottom, #ef5348, #be304a);
  padding: 2px;
}
.canva {
  width: 3000px;
  height: 700px;
  overflow: auto;
  background-image: linear-gradient(to bottom, #ee4035, #911129);

  &::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }
  &::-webkit-scrollbar-track {
    background-color: #c21736;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }
}
